.user-component{
    justify-content: space-between;
}


.user-component,
.user-component__column:first-child{
    display:flex;
    align-items: center;
    padding-right: 20px;
}
.user-component__column span {
    font-size: 20px;
    padding-right: 5px;

}

.user-component__avatar{
    width: 70px;
    height: 70px;
    border-radius: 30px;
    margin: 20px;
}
.user-component-title{
    font-size: 30px;
    margin: 10px 0;
}

.user-component-subtitle{
    font-size: 15px;
    color: rgba(0, 0, 0, 0.5);
}
.user-component__avatar-xl{
    width: 90px;
    height: 90px;
}
.friends-screen{
    padding: 0px 25px;
}

.user-component__avatar-sm{
    width: 60px;
    height: 60px;
    border-radius: 20px;
}
.user-component-title--not-bold{
    font-size: 20px;
}

.friends-screen__channel{
    border-top: 1px solid rgba(24, 121, 200, 0.3);
    margin: 20px 20px 0px 20px;
    padding: 15px 0px;
}
